.pixi
__pycache__
*.py[cod]
.git
.github
.cursor
.idea
*.h5ad
__output
output
run/output
run/cache
data
models
cache
build
dist
analysis
results
_explore
__try_things
**/wandb
third_party
yaml_arxiv*
scfm_docker
